<ng-container *ngLet="selectedIds$ | async as selectedIds">
    <div class="page-header">
        <h4>Suit Builder</h4>
        <h5>Select items and build a suit.</h5>

        <div class="page-actions">
            <input hidden (change)="onFileSelected($any($event.target).files)" #fileInput type="file">
            <button mat-flat-button (click)="fileInput.click()" color="basic">Import Item List</button>

            <button mat-raised-button color="{{selectedIds?.length ? 'primary' : 'warn'}}"
                title="{{selectedIds?.length ? '' : 'Select items first'}}" (click)="onBuildClicked()">Build</button>
        </div>
    </div>

    <div class="content-container" *ngLet="properties$ | async as properties">
        <app-item-collection-grid [properties]="properties" [rowData]="filteredItems$ | async"
            [selectedIds]="selectedIds" [loading]="false" (selectedRowsChanged)="onSelectedRowsChanged($event)"
            fileDragDrop (fileDropped)="onFileSelected($event)"
            (gridInitialized)="onItemGridInitialized($event)"></app-item-collection-grid>

        <div class="required-item-summary" #dropZone>
            <h4>Required Item Summary</h4>
            <app-suit-summary [properties]="properties" [suit]="baselineSuit$ | async" [canRemoveItems]="true"
                (itemRemoved)="onBaselineItemRemoved($event)"></app-suit-summary>
        </div>
    </div>
</ng-container>