<div class="page-header">
    <h4>Item Collection</h4>

    <div class="page-actions">
        <input hidden (change)="onFileSelected($event)" #fileInput type="file">
        <button mat-flat-button (click)="fileInput.click()" color="basic">Import Item List</button>

        <button mat-raised-button color="primary" (click)="onBuildClicked()">Build</button>
    </div>
</div>

<app-item-collection-grid [properties]="properties$ | async" [rowData]="items$ | async"
    [loading]="false"></app-item-collection-grid>