<div class="page-header">
    <h4>Review Suits</h4>
    <h5>Evaluate suits and show the items that make it up.</h5>

    <div class="page-actions">
        <button *ngLet="selectedSuit$ | async as selectedSuit" mat-flat-button color="accent"
            title="{{selectedSuit ? '' : 'Select a suit first'}}" (click)="copySuitToBuilder(selectedSuit)">Copy to builder</button>
    </div>
</div>

<div class="content-container">
    <app-suit-collection-grid [properties]="filteredProperties$ | async" [rowData]="suits$ | async"
        [gridFilter]="gridFilter$ | async" [loading]="false" (suitSelected)="onSuitSelected($event)"
        (filterChanged)="onFilterChanged($event)"></app-suit-collection-grid>

    <div class="selected-suit-summary">
        <h4>Selected Suit Summary</h4>
        <app-suit-summary [properties]="properties$ | async" [suit]="selectedSuit$ | async"></app-suit-summary>
    </div>
</div>