app-suit-collection {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    overflow: auto;

    app-suit-collection-grid {
        flex: 1;
    }

    .content-container {
        display: flex;
        flex-direction: row;
        flex: 1;
        overflow: auto;
    }

    .selected-suit-summary {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;

        .selected-suit-actions {
            display: flex;
            justify-content: space-between;

            button+button {
                margin-left: 1rem;
            }
        }

        app-suit-summary {
            margin-top: 1rem;
        }
    }

    .page-header {
        margin-bottom: 1.5rem;
    }
}