<div class="page-header">
    <h4>Review Suits</h4>
    <h5>Evaluate suits and show the items that make it up.</h5>

    <div class="page-actions">
    </div>
</div>

<div class="content-container">
    <app-suit-collection-grid [properties]="properties$ | async" [rowData]="suits$ | async" [loading]="false"
        (suitSelected)="onSuitSelected($event)"></app-suit-collection-grid>

    <div class="suit-summary" *ngLet="selectedSuit$ | async as selectedSuit">
        <button type="button" mat-raised-button color="primary" [disabled]="!selectedSuit" title="Not implemented">Show Items</button>

        <app-item-detail-list *ngIf="selectedSuit" [properties]="properties$ | async"
            [dataSource]="selectedSuit.summary"></app-item-detail-list>
    </div>
</div>