<ng-container [formGroup]="form">
    <div class="mat-mdc-form-field">
        <mat-label>Scale Factor</mat-label>
        <mat-slider showTickMarks min="0" max="2.0" step="0.1" discrete>
            <input matSliderThumb formControlName="scalingFactor">
        </mat-slider>
    </div>

    <div class="flex-row">
        <mat-form-field>
            <mat-label>Minimum Value</mat-label>
            <input matInput type="number" min="0" max="125" formControlName="minimum">
            <mat-error>Maximum value must be less than or equal to 125.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Target Value</mat-label>
            <input matInput type="number" min="0" max="125" formControlName="target">
            <mat-error>Maximum value must be less than or equal to 125.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Maximum Value</mat-label>
            <input matInput type="number" min="0" max="125" formControlName="maximum">
            <mat-error>Maximum value must be less than or equal to 125.</mat-error>
        </mat-form-field>
    </div>
</ng-container>